.pb-0 {
  padding-block: 0;
}

.pb-1 {
  padding-block: 1rem;
}

.pb-2 {
  padding-block: 2rem;
}

.pbs-0 {
  padding-block-start: 0;
}

.pbs-1 {
  padding-block-start: 1rem;
}

.pbs-2 {
  padding-block-start: 2rem;
}

.pbe-0 {
  padding-block-end: 0;
}

.pbe-1 {
  padding-block-end: 1rem;
}

.pbe-2 {
  padding-block-end: 2rem;
}

.pi-0 {
  padding-inline: 0;
}

.pi-1 {
  padding-inline: 1rem;
}

.pi-2 {
  padding-inline: 2rem;
}

.pis-0 {
  padding-inline-start: 0;
}

.pis-1 {
  padding-inline-start: 1rem;
}

.pis-2 {
  padding-inline-start: 2rem;
}

.pie-0 {
  padding-inline-end: 0;
}

.pie-1 {
  padding-inline-end: 1rem;
}

.pie-2 {
  padding-inline-end: 2rem;
}
