:root {
  --theme-primary: var(--oc-violet-7);
  --theme-primary--hover: var(--oc-violet-8);
  --theme-primary--contrast-color: white;
  --theme-secondary: var(--oc-pink-7);
  --theme-secondary--hover: var(--oc-pink-8);
  --theme-secondary--contrast-color: var(--oc-gray-9);
  --fa-primary-color: var(--theme-primary);
  --fa-secondary-color: var(--theme-secondary);
}

body > header {
  background: var(--body-bg);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme~="light"]) {
    --theme-primary: var(--oc-violet-4);
    --theme-primary--hover: var(--oc-violet-5);
    --theme-secondary: var(--oc-pink-4);
    --theme-secondary--hover: var(--oc-pink-5);
    --fa-secondary-opacity: 0.65;
  }
}

.text-primary {
  color: var(--theme-primary);
}

.text-secondary {
  color: var(--theme-secondary);
}

.features-list {
  font-size: 1.2rem;
}

.site-brand {
  margin-inline-end: auto;
}

.theme-toggle {
  margin-inline-start: auto;
  margin-inline-end: calc(-1 * var(--button-padding-inline));
}

main section {
  margin-block-start: 3rem;
}

main section h3 {
  margin-block-start: 2rem;
}

.fa-lightbulb {
  --fa-primary-color: var(--oc-gray-6);
  --fa-secondary-color: var(--oc-yellow-4);
  --fa-secondary-opacity: 1;
}
