/* Reset browser defaults */

*:where(
    :not(iframe, canvas, img, svg, video, dialog, [popover]):not(svg *):not(
        symbol *
      )
  ) {
  all: unset;
  appearance: revert;
  cursor: revert;
  display: revert;
  list-style-type: revert;
  outline: revert;
  resize: revert;
  vertical-align: revert;
}
