*,
*::before,
*::after {
  box-sizing: border-box;
}

ol[class],
ul[class] {
  list-style: none;
}

/* Typography & Colors */

:where(:root, :host) {
  /* from https://systemfontstack.com */
  --ui-font-sans: ui-sans-serif, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
  --ui-font-serif: ui-serif, Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --ui-font-monospace: ui-monospace, Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace;
  --body-bg: hsl(0deg 0% 100%);
  --body-color: hsl(0deg 0% 0%);
  --button-base--default: hsl(0deg 0% 50%);
  --button-base--default--hover: hsl(0deg 0% 75%);
  --button-base--disabled: hsl(0deg 0% 75%);
  --button-color--default: hsl(0deg 0% 0%);
  --button-color--disabled: hsl(210deg 11% 50%);
  --button-border--default: transparent;
  --button-border--disabled: transparent;
  --button-font-family: var(--ui-font-sans);
  --button-padding-block: 0.5rem;
  --button-padding-inline: 1rem;
  --button-radius: 0.25rem;
  --button-min-block-size: 56px;
  --button-text-transform: none;
  --focus-ring--color: hsl(208.4deg 76.9% 47.5%);
  --headers-weight: bolder;
  --link-color--hover: hsl(208deg 80% 52%);
  --link-color--visited: hsl(255deg 53% 50%);
  --link-color: hsl(209deg 75% 38%);
  --link-decoration: underline;
  --link-decoration--hover: var(--link-decoration);
  --selection-bg: hsl(47deg 100% 62%);
  --selection-color: hsl(210deg 11% 15%);
  --input-min-block-size: 56px;
  --skip-link-color: hsl(210deg 11% 15%);
  --skip-link-bg: hsl(47deg 100% 62%);

  color-scheme: light dark;
}

:where(:root, :host)[data-theme~="light"] {
  color-scheme: light;
}

:where(:root, :host)[data-theme~="dark"] {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :where(:root, :host):not([data-theme~="light"]) {
    --body-bg: hsl(210deg 11% 15%);
    --body-color: hsl(0deg 0% 100%);
    --link-color: hsl(207deg 91% 64%);
    --link-color--visited: hsl(256deg 100% 87%);
    --link-color--hover: hsl(206deg 100% 82%);
  }
}

::selection {
  background-color: var(--selection-bg);
  color: var(--selection-color);
}

html {
  text-size-adjust: none; /* https://css-tricks.com/your-css-reset-needs-text-size-adjust-probably/ */
  line-height: 1.15;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  font-family: var(--body-font-family, var(--ui-font-sans));
}

:where(a) {
  text-decoration: var(--link-decoration);
  transition-duration: var(--transition-duration);
  transition-property: color;
  transition-timing-function: ease-out;
  will-change: color;

  &:where(:link) {
    color: var(--link-color);
  }

  &:where(:visited) {
    color: var(--link-color--visited);
  }

  &:where(:hover, :active, :focus-visible) {
    color: var(--link-color--hover);
    text-decoration: var(--link-decoration--hover);
  }
}

:where(hr) {
  border-top: 1px solid currentColor;
  margin-block: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headers-color, inherit);
  font-family: var(--headers-font-family, var(--ui-font-sans));
  font-weight: var(--headers-weight);
  margin-block-end: var(--spacing);
  margin-block-start: 0;
  margin-inline: 0;
}

p {
  margin-block-end: var(--spacing);
  margin-block-start: 0;
  margin-inline: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8125rem;
}

h6 {
  font-size: 0.625rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
blockquote {
  line-height: calc(1em + 0.5rem);
  overflow-wrap: break-word;
}

ol:not([class]),
ul:not([class]) {
  margin-inline-start: var(--list-inline-spacing, 1.25rem);

  & li + li {
    margin-block-start: var(--spacing);
  }
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

pre,
code,
kbd,
samp {
  font-family: var(--font-monospace, var(--ui-font-monospace));
  font-size: 1rem;
  white-space: revert;
}

small {
  font-size: 0.8em;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  inset-block-end: -0.25em;
}

sup {
  inset-block-start: -0.5em;
}

:where(button, input, optgroup, select, textarea) {
  font-family: inherit;
  font-size: 1em;
  line-height: 1.15;
}

:where(button) {
  cursor: pointer;
}

/* Set some base styles for elements */

body {
  margin: 0;
  min-block-size: 100vh;
  min-block-size: 100dvh;
}

img {
  block-size: auto;
  border-style: none;
  max-inline-size: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

hr {
  block-size: 0;
  box-sizing: content-box;
  overflow: visible;
}

details {
  display: block;
  margin-inline-start: 1rem;
}

summary {
  display: list-item;
}

template,
[hidden] {
  display: none;
}
