:where(:root, :host) {
  --mnml--theme--primary: #f04d00;
  --mnml--theme--primary--contrasting: white;
  --mnml--theme--primary--hover: #ff6b24;
  --mnml--theme--primary--hover--contrasting: white;
  --mnml--theme--secondary: #84003a;
  --mnml--theme--secondary--contrasting: white;
  --mnml--theme--secondary--hover: #b80051;
  --mnml--theme--secondary--hover--contrasting: white;
}

@media (color-gamut: p3),
  (color-gamut: rec2020) @supports (color: color(display-p3 0 0 0)) :where(:root, :host) {
  --mnml--theme--primary: color(display-p3 0.90119 0.29731 0.02634);
  --mnml--theme--primary--hover: color(display-p3 0.90119 0.29731 0.02634);
  --mnml--theme--secondary: oklch(39.42% 0.178 5.16);
  --mnml--theme--secondary--hover: oklch(50.23% 0.201 6.5);
}
