:where(:root, :host) {
  --mnml--focus-ring--color: hsl(208.4deg 76.9% 47.5%);
  --mnml--focus-ring--width: 0.125rem;
  --mnml--focus-ring--offset: 0.125rem;
  --mnml--body--background-color: var(--mnml--body--background-color--light);
  --mnml--body--text-color: var(--mnml--body--text-color--light);
  --mnml--headers--font-weight: bolder;
  --mnml--headers--font-family: var(--mnml--font--sans);
  --mnml--headers--text-color: inherit;
  --mnml--link--text-color--light: hsl(208deg 80% 52%);
  --mnml--link--text-color--dark: hsl(207deg 91% 64%);
  --mnml--link--text-color--visited--light: hsl(255deg 53% 50%);
  --mnml--link--text-color--visited--dark: hsl(256deg 100% 87%);
  --mnml--link--text-color--hover--light: hsl(208deg 80% 52%);
  --mnml--link--text-color--hover--dark: hsl(206deg 100% 82%);
  --mnml--link--text-color: var(--mnml--link--text-color--light);
  --mnml--link--text-color--hover: var(--mnml--link--text-color--hover--light);
  --mnml--link--text-color--visited: var(
    --mnml--link--text-color--visited--light
  );
  --mnml--link--text-decoration: underline;
  --mnml--link--text-decoration--hover: underline;
  --mnml--selection--background-color: hsl(47deg 100% 62%);
  --mnml--selection--text-color: hsl(210deg 11% 15%);
  --mnml--font--sans: ui-sans-serif, -apple-system, BlinkMacSystemFont,
    avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto,
    noto, arial, sans-serif;
  --mnml--font--serif: ui-serif, Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif;
  --mnml--font--monospace: ui-monospace, Menlo, Consolas, Monaco;

  color-scheme: light dark;
}

:where(:root, :host)[data-theme~="light"] {
  color-scheme: light;
}

:where(:root, :host)[data-theme~="dark"] {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :where(:root, :host):not([data-theme~="light"]) {
    --mnml--body--background-color: var(--mnml--body--background-color--dark);
    --mnml--body--text-color: var(--mnml--body--text-color--dark);
    --mnml--link--text-color: var(--mnml--link--text-color--dark);
    --mnml--link--text-color--hover: var(--mnml--link--text-color--hover--dark);
    --mnml--link--text-color--visited: var(
      --mnml--link--text-color--visited--dark
    );
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:focus-visible) {
  outline: var(--mnml--focus-ring--width) solid var(--mnml--focus-ring--color);
  outline-offset: var(--mnml--focus-ring--offset);
}

ol[class],
ul[class] {
  list-style-type: "";
}

::selection {
  background-color: var(--mnml--selection--background-color);
  color: var(--mnml--selection--text-color);
}

html {
  text-size-adjust: none; /* https://css-tricks.com/your-css-reset-needs-text-size-adjust-probably/ */
  line-height: 1.15;
}

body {
  background-color: var(--mnml--body--background-color);
  color: var(--mnml--body--text-color);
  font-family: var(--mnml--body--font-family, var(--mnml--font--sans));
}

:where(a) {
  text-decoration: var(--mnml--link--text-decoration);
  transition-duration: var(--transition-duration);
  transition-property: color;
  transition-timing-function: ease-out;
  will-change: color;

  &:where(:link) {
    color: var(--mnml--link--text-color);
  }

  &:where(:visited) {
    color: var(--mnml--link--text-color--visited);
  }

  &:where(:focus-visible) {
    color: var(--mnml--link--text-color--hover);
    text-decoration: var(--mnml--link--text-decoration--hover);
  }

  @media (pointer: fine) and (hover: hover) {
    &:where(:hover, :active) {
      color: var(--mnml--link--text-color--hover);
      text-decoration: var(--mnml--link--text-decoration--hover);
    }
  }

  * {
    color: inherit;
  }
}

:where(hr) {
  border-top: 1px solid currentColor;
  margin-block: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--mnml--headers--text-color);
  font-family: var(--mnml--headers--font-family);
  font-weight: var(--mnml--headers--weight);
  margin-block-end: var(--mnml--spacing);
  margin-block-start: 0;
  margin-inline: 0;
}

p {
  margin-block-end: var(--mnml--spacing);
  margin-block-start: 0;
  margin-inline: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8125rem;
}

h6 {
  font-size: 0.625rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
blockquote {
  line-height: calc(1em + 0.5rem);
  overflow-wrap: break-word;
}

ol:not([class]),
ul:not([class]) {
  margin-block-end: var(--mnml--spacing);
  margin-inline-start: var(--list-inline-spacing, 1.25rem);

  & li + li {
    margin-block-start: var(--mnml--spacing);
  }
}

ol[role="list"],
ul[role="list"] {
  list-style-type: "";
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

pre,
code,
kbd,
samp {
  font-family: var(--mnml--font--monospace);
  font-size: 1rem;
  white-space: revert;
}

small {
  font-size: 0.8em;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  inset-block-end: -0.25em;
}

sup {
  inset-block-start: -0.5em;
}

:where(button, input, optgroup, select, textarea) {
  font-family: inherit;
  font-size: 1em;
  line-height: 1.15;
}

:where(button) {
  cursor: pointer;
}

/* Set some base styles for elements */

body {
  margin: 0;
  min-block-size: 100vh;
  min-block-size: 100dvh;
}

img {
  block-size: auto;
  border-style: none;
  max-inline-size: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

hr {
  block-size: 0;
  box-sizing: content-box;
  overflow: visible;
}

details {
  display: block;
  margin-inline-start: 1rem;
}

summary {
  display: list-item;
}

template,
[hidden] {
  display: none;
}
