/* Forms & Inputs */

:where(:root, :host) {
  --mnml--input--min-block-size: 3.5rem;
  --mnml--input--background-color--light: hsl(0deg 0% 100%);
  --mnml--input--background-color--dark: hsl(210deg 8.8% 31.4%);
  --mnml--input--background-color: var(--mnml--input--background-color--light);
  --mnml--input--background-color--disabled--light: hsl(210deg 16% 93%);
  --mnml--input--background-color--disabled--dark: hsl(210deg 10.3% 22.7%);
  --mnml--input--background-color--disabled: var(
    --mnml--input--background-color--disabled--light
  );
  --mnml--input--background-color--focus--light: hsl(0deg 0% 100%);
  --mnml--input--background-color--focus--dark: hsl(210deg 14% 89%);
  --mnml--input--background-color--focus: var(
    --mnml--input--background-color--focus--light
  );
  --mnml--input--border-color--light: hsl(210deg 17% 95%);
  --mnml--input--border-color--dark: hsl(210deg 10.3% 22.7%);
  --mnml--input--border-color: var(--mnml--input--border-color--light);
  --mnml--input--border-color--disabled--light: hsl(210deg 16% 93%);
  --mnml--input--border-color--disabled--dark: hsl(210deg 10.3% 22.7%);
  --mnml--input--border-color--disabled: var(
    --mnml--input--border-color--disabled--light
  );
  --mnml--input--border-color--focus--light: hsl(210deg 14% 89%);
  --mnml--input--border-color--focus--dark: hsl(210deg 8.8% 31.4%);
  --mnml--input--border-color--focus: var(
    --mnml--input--border-color--focus--light
  );
  --mnml--input--border-style: solid;
  --mnml--input--border-width: 1pt;
  --mnml--input--padding-block: 1rem;
  --mnml--input--padding-inline: 1rem;
  --mnml--input--border-radius: 0.25rem;
  --mnml--input--text-color--light: hsl(0deg 0% 0%);
  --mnml--input--text-color--dark: hsl(0deg 0% 100%);
  --mnml--input--text-color: var(--mnml--input--text-color--light);
  --mnml--input--text-color--focus--light: hsl(0deg 0% 0%);
  --mnml--input--text-color--focus--dark: hsl(0deg 0% 100%);
  --mnml--input--text-color--focus: var(
    --mnml--input--text-color--focus--light
  );
  --mnml--input--text-color--disabled--light: hsl(0deg 0% 0%);
  --mnml--input--text-color--disabled--dark: hsl(210deg 14% 83.1%);
  --mnml--input--text-color--disabled: var(
    --mnml--input--text-color--disabled--light
  );
  --mnml--input--font-size: 1rem;
  --mnml--input--file--button--background-color: var(--mnml--theme--primary);
  --mnml--input--file--button--text-color: var(
    --mnml--theme--primary--contrasting
  );
  --mnml--input--file--button--background-color--hover: var(
    --mnml--theme--primary--hover
  );
  --mnml--input--focus-ring--color: var(--mnml--focus-ring--color);
  --mnml--input--focus-ring--width: var(--mnml--focus-ring--width);
  --mnml--input--focus-ring--offset: var(--mnml--focus-ring--offset);
  --mnml--input--placeholder--text-color--light: hsl(210deg 7% 56%);
  --mnml--input--placeholder--text-color--dark: hsl(210deg 16.7% 95.3%);
  --mnml--input--placeholder--text-color: var(
    --mnml--input--placeholder--text-color--light
  );
  --mnml--input--help-text--opacity: 0.8;
  --mnml--input--required--text-color--light: hsl(0deg 65% 48%);
  --mnml--input--required--text-color--dark: hsl(0deg 100% 76.5%);
  --mnml--input--required--text-color: var(
    --mnml--input--required--text-color--light
  );
  --mnml--select--arrow--light: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3e%3cpath fill="none" stroke="hsl(210deg 10.3% 22.7%)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 5l6 6 6-6"/%3e%3c/svg%3e');
  --mnml--select--arrow--dark: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3e%3cpath fill="none" stroke="hsl(0deg 0% 100%)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 5l6 6 6-6"/%3e%3c/svg%3e');
  --mnml--select--arrow: var(--mnml--select--arrow--light);
}

@media (prefers-color-scheme: dark) {
  :where(:root, :host):not([data-theme~="light"]) {
    --mnml--input--background-color: var(--mnml--input--background-color--dark);
    --mnml--input--background-color--disabled: var(
      --mnml--input--background-color--disabled--dark
    );
    --mnml--input--background-color--focus: var(
      --mnml--input--background-color--focus--dark
    );
    --mnml--input--border-color: var(--mnml--input--border-color--dark);
    --mnml--input--border-color--disabled: var(
      --mnml--input--border-color--disabled--dark
    );
    --mnml--input--border-color--focus: var(
      --mnml--input--border-color--focus--dark
    );
    --mnml--input--text-color: var(--mnml--input--text-color--dark);
    --mnml--input--text-color--focus: var(
      --mnml--input--text-color--focus--dark
    );
    --mnml--input--text-color--disabled: var(
      --mnml--input--text-color--disabled--dark
    );
    --mnml--input--placeholder--text-color: var(
      --mnml--input--placeholder--text-color--dark
    );
    --mnml--input--required--text-color: var(
      --mnml--input--required--text-color--dark
    );
    --mnml--select--arrow: var(--mnml--select--arrow--dark);
  }
}

form {
  fieldset {
    legend {
      font-weight: bolder;
      margin-block-end: var(--mnml--spacing);
    }
  }

  fieldset + fieldset {
    margin-block-start: calc(var(--mnml--spacing) * 2);
  }

  label {
    display: block;
    margin-block-end: 0.25rem;

    &.toggle-label {
      display: grid;
      gap: calc(var(--mnml--spacing) * 0.75);
      grid-template-columns: 1em auto;
    }
  }

  .help {
    display: block;
    font-style: italic;
    margin-block-start: 0.25rem;
    opacity: var(--mnml--input--help-text--opacity);
  }

  abbr[title~="required" i] {
    color: var(--required-color);
    text-decoration: none;
  }

  :where(
      input[type]:not([type="radio"]):not([type="checkbox"]),
      textarea,
      select
    ) {
    appearance: auto;
    background-clip: padding-box;
    background-color: var(--mnml--input--background-color);
    border: var(--mnml--input--border-width) var(--mnml--input--border-style)
      var(--mnml--input--border-color);
    border-radius: var(--mnml--input--border-radius);
    color: var(--mnml--input--text-color);
    display: block;
    font-size: var(--mnml--input--font-size);
    inline-size: 100%;
    min-block-size: var(--mnml--input--min-block-size);
    padding-block: var(--mnml--input--padding-block);
    padding-inline: var(--mnml--input--padding-inline);
    transition-duration: var(--mnml--animation-duration);
    transition-property: box-shadow, background-color, border-color;
    transition-timing-function: var(--mnml--timing-function--smooth);
    will-change: box-shadow, background-color, border-color;

    &:where(:focus-visible) {
      background-color: var(--mnml--input--background-color--focus);
      border-color: var(--mnml--input--border-color--focus);
      color: var(--mnml--input--text-color--focus);
      outline-color: var(--mnml--input--focus-ring--color);
      outline-offset: var(--mnml--input--focus-ring--offset);
      outline-width: var(--mnml--input--focus-ring--width);
    }

    &:where([disabled], [readonly]) {
      background-color: var(--mnml--input--background-color--disabled);
      border-color: var(--mnml--input--border-color--disabled);
      color: var(--mnml--input--text-color--disabled);
      opacity: 0.8;
    }

    &:where([disabled]) {
      cursor: not-allowed;
    }

    &::placeholder {
      color: var(--mnml--input--placeholder--text-color);
    }
  }

  :where(input[type="radio"], input[type="checkbox"]) {
    accent-color: var(--mnml--theme--primary, currentColor);
    appearance: auto;
  }

  input[type="number"].no-arrows {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  input[type="file"] {
    overflow: hidden;

    &::file-selector-button,
    &::-webkit-file-upload-button {
      align-items: center;
      background-color: var(--mnml--input--file--button--background-color);
      border: 2px solid transparent;
      color: var(--mnml--input--file--button--text-color);
      display: inline-flex;
      filter: brightness(1);
      font-weight: normal;
      justify-content: center;
      margin-block: -1rem;
      margin-inline-end: var(--mnml--spacing);
      margin-inline-start: -1rem;
      min-block-size: 100%;
      padding: 1rem;
      text-align: center;
      transition-duration: var(--mnml--animation-duration);
      transition-property: background-color;
    }

    &:not(:disabled):not([readonly]) {
      &::file-selector-button,
      &::-webkit-file-upload-button {
        cursor: pointer;
      }
    }

    &:where(:hover, :focus-visible) {
      &::file-selector-button,
      &::-webkit-file-upload-button {
        background-color: var(
          --mnml--input--file--button--background-color--hover
        );
        color: var(--mnml--input--file--button--text-color--hover);
      }
    }
  }

  select {
    word-wrap: normal;
    -webkit-appearance: none;
    appearance: none;
    padding-block: var(--mnml--input--padding-block);
    padding-inline: var(--mnml--input--padding-inline);

    &:where(:not([multiple])) {
      background-image: var(--mnml--select--arrow);
      background-position: right 0.75rem center;
      background-repeat: no-repeat;
      background-size: 16px 12px;
      padding-inline-end: calc(1.75rem + var(--mnml--input--padding-inline));
    }

    &:where([multiple]) {
      overflow-x: hidden;
      overflow-y: scroll;

      option {
        align-items: center;
        display: flex;
        margin: 0.25rem -0.5rem;
        min-block-size: 1.5em;
        padding: 0 0.5rem;
      }
    }
  }
}

:where(:root, :host)[dir="rtl"] {
  form {
    select {
      background-position: left 0.75rem center;
    }
  }
}
