/* a11y */

:where(.reader-only, .skip-link):not(:focus-visible):not(:active) {
  word-wrap: normal !important;
  block-size: 1px;
  border: 0;
  clip-path: inset(50%);
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.skip-link {
  position: absolute;
  z-index: 1;

  &:focus-visible {
    --link-color--hover: var(--skip-link-color);
    --focus-ring-color: transparent;
    --focus-ring-offset: 0;

    background-color: var(--skip-link-bg);
    inset-block-start: 5px;
    inset-inline-start: 5px;
    padding: 1rem;
    z-index: 100000;
  }
}
